@import '../../styles/modules/variables.scss';

.date-range-picker-wrapper {
  position: absolute;
  -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  z-index: 99999;
  background: #ffffff;
  color: #000;
  font-size: 10px;
  padding-top: 2px;
  
  .date-range-picker {
    .rdrDateRangePickerWrapper{
      //Ranges
      .rdrDefinedRangesWrapper{
        width: 150px;
        padding-bottom: 20px;
        
        .rdrStaticRanges{
          .rdrStaticRange{
            .rdrStaticRangeLabel{
              padding: 2px 8px;
              margin: 0;
              font-size: 11px;
            }
          }
        }
        .rdrInputRanges{
          color: #000;
          padding: 5px 0;

          .rdrInputRange{
            padding: 2px 8px;

            .rdrInputRangeInput{
              width: 26px; height: 24px;
              line-height: 24px;
              margin-right: 4px;
              padding: 0;
              font-size: 10px;
            }
          }
          span{ font-size: 11px; line-height: 1.2; }
        }
      }



      .rdrDateRangeWrapper{
        font-size: 10px;
        // width: 410px;
        // width: 380px;
        width: 320px;

        .rdrDateDisplayWrapper{
          display: none;
        }
        .rdrMonthAndYearWrapper{
          padding: 0;
          margin: 0;
          height: 20px;

          .rdrNextPrevButton{
            width: 14px; height: 14px;
            text-align: center;
            border-radius: 0;
            background: none;
            &:hover{ background: #efefef; }
          }
          .rdrNextButton{
            i{ margin-left: 2px; }
          }
        }
        .rdrMonthAndYearPickers{
          .rdrMonthPicker,
          .rdrYearPicker{
            select{ 
              padding: 0 30px 0 10px;
              border-radius: 0;
              font-size: 11px;
              font-weight: 600;
            }
          }

          span{ margin: 0; }
        }
        .rdrMonths{
          .rdrMonth{
            padding: 0 0.833em 0.69em 0.833em !important;

            .rdrMonthName{
              // padding: .26em .833em;
              padding: .26em .25em;
              font-weight: 600;
              color: #333;
            }
          }
        }
        .rdrWeekDays{
          .rdrWeekDay{
            line-height: 20px;
          }
        }
        .rdrDays{
          .rdrDay{
            height: 16px;
            line-height: 1.38;
            font-size: 11px;
            border: 1px solid #fff;
            border-right: none;
            border-bottom: none;

            .rdrStartEdge {
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
              left: 0;
            }
            .rdrEndEdge{
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
              right: 0;
            }
            &.rdrDayEndOfMonth, 
            &.rdrDayEndOfMonth, 
            &.rdrDayEndOfWeek, 
            &.rdrDayEndOfWeek {
              .rdrInRange,
              .rdrStartEdge,
              .rdrInRange,
              .rdrStartEdge{
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                right: 0;
              }
            }

            &.rdrDayHovered,
            &.rdrDayActive{
              border-radius: 0;
            }
            .rdrDayInPreview,
            .rdrDayEndPreview{
              // border: none !important;
              top: 0;
              bottom: 0;
              border-radius: 0 !important;
            }

            .rdrDayNumber{
              display: block;
              width: 100%;
              height: 15px;
              position: relative;
              top: auto; left: auto;
              bottom: auto; right: auto;

              span:after{ display: none; }
            }
            .rdrInRange{
              position: absolute;
              top: 0px; left: 0px;
              bottom: 0px; right: 0px;
              border-radius: 0;
            }
            
            &.rdrDayActive{
              background: #dedede;
            }
            &.rdrDayHovered{
              background: #dedede;
            }
            .rdrSelected, 
            .rdrInRange, 
            .rdrStartEdge, 
            .rdrEndEdge{
              top: 0 !important; 
              bottom: 0 !important;
            }
          }

          
          .rdrDayStartOfMonth .rdrInRange, 
          .rdrDayStartOfMonth .rdrEndEdge, 
          .rdrDayStartOfWeek .rdrInRange, 
          .rdrDayStartOfWeek .rdrEndEdge {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
            left: 0;
          }
        }
      }
    }
  }

  .action-buttons {
    text-align: right;
    padding: 0;
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 80px;
    height: 18px;
    
    button {
      display: inline-block;
      width: 18px;
      height: 18px;
      padding: 0;
      margin: 0 0 0 5px;
      border: none;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      border-radius: 0;
      background: none;
      cursor: pointer;
      outline: none;

      &.apply{
        background: #4AA451;
        svg{
          g{ fill: #fff; stroke: #fff; stroke-width: 4px;}
          rect{ stroke: #4AA451; }
        }
      }

      &.cancel{
        background: theme-color('primary', 'red');
        svg{
          g{ fill: #fff; stroke: #fff; stroke-width: 4px;}
          rect{ stroke: theme-color('primary', 'red'); }
        }
      }
    }
  }
}