@import "modules/variables.scss";

/******************************
  === SIDE NAVIGATION ====
******************************/

$control-width: 14px;
$control-height: 14px;
#app-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99997;
 
  .sidebar-toggle-btn-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    // background-color: rgba(0, 0, 0, 0.2);
    
    .toggle-btn {
      background-color: var(--header-default-icon-color);
      width: $control-width;
      height: $control-height;
      -webkit-mask: url("../images/icon-hamburger.svg") no-repeat center center;
      mask: url("../images/icon-hamburger.svg") no-repeat center center;
      -webkit-mask-size: $control-width;
      mask-size: $control-height;
      transition: var(--transition);
    }
    &:hover{
      .toggle-btn {
        background-color: var(--font-color);
      }
    }
  }

  .sidebar-menu-drawer {
    position: absolute;
    top: 30px;
    bottom: 0;
    min-width: 200px;
    background: var(--sidebar-bg-color);
    overflow-y: auto;
    padding: 0 5px;
    user-select: none;
    left: -200px;
    transition: left 200ms ease-in-out;

    .nav {
      padding: 0;
      list-style: none;
      margin: 20px 0 0 0;
    }

    .nav-item {
      margin: 0 0 15px;

      .nav-link {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 5px 10px;
        width: 100%;
        font-weight: 400;
        line-height: 1.2;
        color: #fff;
        text-align: center;
        transition: 300ms all;
        border-radius: 2px;
        &:hover {
          background: rgba(0, 0, 0, 0.4);
        }

        .text {
          font-size: 11px;
          font-weight: 500;
          line-height: 1.4; //24px
          text-align: left;
          margin-left: 10px;
          padding: 0 8px 0 0; //8px
          flex: 1;
          display: block;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .icon {
          display: inline-block;
          width: 14px;
          height: 16px;
          background-color: #fff;
          text-indent: -999em;
        }
        .nav-text {
          display: none;
          position: fixed;
          width: auto;
          height: 24px;
          left: $sidebar_width;
          padding: 0 8px; //8px
          font-size: 0.83vw; //12px
          font-weight: 400;
          line-height: 24px;
          text-align: center;
          text-transform: uppercase;
          letter-spacing: 0.1em;
          background: var(--blue-color);
          color: #fff;
          opacity: 1;
          margin: 0;
          z-index: 99999999;
          text-decoration: none;
        }
        .icon-dropdown {
          transform: rotate(90deg);
          mask: url("../images/icon-chevron-left.svg") no-repeat center center;
          @include mask-size(8px);
          width: 8px;
          height: 11px;
          background-color: #fff;
          transition: 300ms all;
        }
        &.active,
        &:hover {
          color: #fff;
        }
        &:hover .feather,
        &.active .feather {
          color: inherit;
        }
      }

      .nav-item-suboptions-panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 200ms ease-in-out;
        .nav-item-suboptions{
          padding-left: 35px;
          padding-top: 5px;
          .nav-link{
            .text{
              margin-left: 0;
            }
          }
        }
      }

      &.has-submenu {
        &.expanded{
          .nav-link{
            .icon-dropdown{
              &:before{
                transform: rotate(180deg);
              }
            }
          }
        }
      }

      &#trend-master {
        .icon {
          background: url("../images/icon-trend-master.svg") no-repeat center center;
          background-size: 14px;
        }
      }
      &#ad-index {
        .icon {
          -webkit-mask: url("../images/icon-adindex.svg") no-repeat center center;
          mask: url("../images/icon-adindex.svg");
          mask-repeat: no-repeat;
          mask-position: center center;
          -webkit-mask-size: 14px;
          mask-size: 14px;
        }
        .sub-menu-wrapper {
          width: 90px;
        }
      }
      &#data-grid {
        .icon {
          background: url("../images/icon-datagrid.svg") no-repeat center center;
          background-size: 14px;
        }
      }
      &#accounting {
        .icon {
          -webkit-mask: url("../images/icon-accounting.svg") no-repeat center center;
          mask: url("../images/icon-accounting.svg");
          mask-repeat: no-repeat;
          mask-position: center center;
          -webkit-mask-size: 14px;
          mask-size: 14px;
          transform: rotate(180deg);
        }
      }
      &#custom-reports {
        .icon {
          -webkit-mask: url("../images/icon-custom-reports.svg") no-repeat center center;
          mask: url("../images/icon-custom-reports.svg");
          mask-repeat: no-repeat;
          mask-position: center center;
          -webkit-mask-size: 14px;
          mask-size: 14px;
        }
      }

      &#debug {
        .icon {
          -webkit-mask: url("../images/icon-debug.svg") no-repeat center center;
          mask: url("../images/icon-debug.svg");
          mask-repeat: no-repeat;
          mask-position: center center;
          -webkit-mask-size: 14px;
          mask-size: 14px;
        }
      }

      &#data-stream {
        .icon {
          -webkit-mask: url("../images/icon-api.svg") no-repeat center center;
          mask: url("../images/icon-api.svg");
          mask-repeat: no-repeat;
          mask-position: center center;
          -webkit-mask-size: 14px;
          mask-size: 14px;
        }
        .sub-menu-wrapper {
          width: 115px;
        }
      }
      &#buy-side {
        .icon {
          -webkit-mask: url("../images/icon-api.svg") no-repeat center center;
          mask: url("../images/icon-api.svg");
          mask-repeat: no-repeat;
          mask-position: center center;
          -webkit-mask-size: 14px;
          mask-size: 14px;
        }
        .sub-menu-wrapper {
          width: 85px;
        }
      }
      &#revenue-share {
        .icon {
          -webkit-mask: url("../images/icon-wallet1.svg") no-repeat center center;
          mask: url("../images/icon-wallet1.svg");
          mask-repeat: no-repeat;
          mask-position: center center;
          -webkit-mask-size: 14px;
          mask-size: 14px;
        }
        .sub-menu-wrapper {
          width: 125px;
        }
      }
      &#home,
      &#terminal {
        .icon {
          -webkit-mask: url("../images/icon-home.svg") no-repeat center center;
          mask: url("../images/icon-home.svg");
          mask-repeat: no-repeat;
          mask-position: center center;
          -webkit-mask-size: 14px;
          mask-size: 14px;
        }
      }
      &#dashboard {
        .icon {
          -webkit-mask: url("../images/icon-dashboard.svg") no-repeat center center;
          mask: url("../images/icon-dashboard.svg");
          mask-repeat: no-repeat;
          mask-position: center center;
          -webkit-mask-size: 14px;
          mask-size: 14px;
        }
        .sub-menu-wrapper {
          width: 105px;
        }
      }

      &#settings {
        .icon {
          -webkit-mask: url("../images/icon-settings.svg") no-repeat center center;
          mask: url("../images/icon-settings.svg");
          mask-repeat: no-repeat;
          mask-position: center center;
          -webkit-mask-size: 14px;
          mask-size: 14px;
        }
        .sub-menu-wrapper {
          width: 140px;
        }
      }
    }

    .nav-item.expanded {
      .nav-item-suboptions-panel {
        max-height: 150px;

      }
      .nav-link .icon-dropdown {
        &:before{
          transform: rotate(90deg);
        }
      }
    }
  }

  a {
    text-decoration: none;
  }

  &.sidebar-open {
    .sidebar-menu-drawer {
      left: 0;
    }
  }
}
